.sass-cache
/.idea
/.vscode
*.log
.env

/src/config/cert
!/src/config/cert/cacert.pem
!/src/config/cert/openssl.cnf

/resource/node_modules
/resource/dest
/src/vendor
/src/runtime/*
/src/thinkphp
/src/htdocs/uploads/*
!/src/htdocs/uploads/index.html
/src/htdocs/aspnet_client

