.sass-cache
/.idea
/.vscode
*.log
.env

/resource/node_modules
/resource/dest
/src/vendor
/src/runtime/*
/src/thinkphp
/src/htdocs/uploads/*
!/src/htdocs/uploads/index.html
/src/htdocs/aspnet_client

