.sass-cache
/.idea
/.vscode
/htdocs/system/vendor
*.log
/htdocs/system/runtime/*
/htdocs/system/thinkphp
.env
/htdocs/uploads/*
!/htdocs/uploads/index.html
/htdocs/resource/node_modules
/htdocs/resource/dest
/htdocs/aspnet_client
